@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* background colours */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* text */
  --very-dark-saturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* transition duration */
  --transitin-time: 0.5s;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  background-size: contain;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2em;
  width: 337px;
  max-width: 100%;
  height: 75vh;
  background-color: white;
  font-family: "Kumbh Sans", sans-serif;
  border-radius: 25px;
}

.container__item {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.image-container {
  position: relative;
  flex: 1;
  height: 100%;
  background: no-repeat top 0 left 3em url(../images/bg-pattern-mobile.svg);
}

.image-container::after {
  position: absolute;
  content: "";
  align-self: center;
  top: -6.5em;
  width: 236px;
  height: 179px;
  background: no-repeat top 0 left 50%
    url(../images/illustration-woman-online-mobile.svg);
}

.accordion-container {
  flex: 3;
  width: 90%;
  caret-color: transparent;
}
header {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  color: var(--very-dark-saturated-blue);
}

.accordion-container ul {
  width: 100%;
  height: 100%;
  align-items: center;
}

.accordion-container__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.faq-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq:hover {
  color: var(--soft-red);
}

.faq {
  transition: var(--transition-time);
  color: var(--very-dark-grayish-blue);
  font-size: 13px;
  padding: 1em 0;
}

.faq-container.active-state > .faq {
  color: var(--very-dark-saturated-blue);
  font-weight: 900;
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 7px;
  background: no-repeat center url(../images/icon-arrow-down.svg);
  transition: transform var(--transition-time) ease-in-out;
}

.faq-container.active-state > .arrow {
  transform: rotate(180deg);
}

.answer-container {
  height: 0;
  overflow: hidden;
  font-size: 12px;
  color: var(--dark-grayish-blue);
  opacity: 0;
  transition: var(--transition-time);
}

.answer {
  width: 90%;
  padding-bottom: 0.5em;
}

.faq-container.active-state + .answer-container {
  height: 55px;
  opacity: 1;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* madia queries */

@media (min-width: 1226px) {
  .container {
    margin-top: 0;
    flex-flow: row;
    width: 65vw;
  }

  .container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
  }

  .image-container {
    position: relative;
    height: 100%;
    background: no-repeat top -18em left -36em
      url(../images/bg-pattern-desktop.svg);
    z-index: 0;
  }

  .image-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: no-repeat top 5em left -5em url(../images/illustration-woman-online-desktop.svg);
  }

  .image-container::after {
    left: -6em;
    height: 100%;
    background: no-repeat top 20em left 0.25em
      url(../images/illustration-box-desktop.svg);
  }

  .accordion-container {
    padding-left: 5px;
  }
  header {
    margin-top: 5em;
  }

  .accordion-container ul {
    margin-top: 1em;
  }

  .accordion-container__item {
    width: 80%;
  }
}
